<app-cabecalho></app-cabecalho>
<main class="main">
  <div class="content">

    <div class="left-side">
    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="formulario">
        <h2>Formulário de cadastro</h2>

        <label for="nome">Nome:</label>
        @if (formulario.get('nome')?.touched && formulario.get('nome')?.invalid) {
          <small>Nome é obrigatório.</small>
        }
        <input id="nome" formControlName="nome" type="text" class="form-control" />

        <label for="sobrenome">Sobrenome:</label>
        @if(formulario.get('sobrenome')?.touched && formulario.get('sobrenome')?.invalid){
          <small>Sobrenome é obrigatório.</small>
        }
        <input id="sobrenome" formControlName="sobrenome" type="text" class="form-control" />

        <label for="cpf">CPF (11 dígitos):</label>
        @if(formulario.get('cpf')?.touched && formulario.get('cpf')?.invalid){
          <small>CPF deve conter 11 números.</small>
        }
        <input id="cpf" formControlName="cpf" maxlength="11" type="text" class="form-control" />

        <label for="telefone">Telefone (WhatsApp):</label>
        @if(formulario.get('telefone')?.touched && formulario.get('telefone')?.invalid){
          <small>Telefone é obrigatório.</small>
        }
        <input id="telefone" formControlName="telefone" placeholder="(XX) XXXXX-XXXX" type="text"
          class="form-control" />

        <label for="email">E-mail:</label>
        @if(formulario.get('email')?.touched && formulario.get('email')?.invalid){
          <small>E-mail inválido.</small>
        }
        <input id="email" formControlName="email" type="email" type="text" class="form-control" />

        <label for="equipe">Selecione sua equipe:</label>
        <select id="equipe" formControlName="equipe" class="dropdown-toggle">
          <option value="" disabled>-- Selecione --</option>
          @for(equipe of equipes; track $index; let count = $count){
          <option value="equipe">{{equipe.label}}</option>
          }
        </select>
        @if(formulario.get('equipe')?.touched && formulario.get('equipe')?.invalid){
        <small>Equipe é obrigatória.</small>
        }

        <input class="btn btn-primary" value="Enviar" type="submit" />
      </form>
    </div>
  </div>
</main>

<router-outlet />
